/*
============================================================
  File Name: styles.css
  Description: [Brief description of the file's purpose and functionality]
  Author: The Optional Group 
  Created On: 3/28/2025
  Last Updated: 3/28/2025
  Version: 0.0.1
============================================================
  Project: Project Part 1
  Dependencies: index.html, jobs.html, apply.html, about.html
    ------------------------------------------------------------
  Changelog:
    - Latest Chnage: [Date]: [Change description]
    - What needs to be done: [Date]: [Change description]
============================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* margin: 2rem;
  outline: 2px solid green; */
}

ul {
  list-style-position: inside;
}

header li,
header a,
header button {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

header {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px double black;
}

.logo {
  cursor: pointer;
  height: 75px;
  width: auto;
}

.nav_links li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.nav_links li a:hover {
  color: #194569;
  text-decoration: underline;
}

#cta {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  background-color: rgba(25, 69, 105, 1);
  color: whitesmoke;
}

.active {
  color: rgba(25, 69, 105, 1);
  text-decoration: underline;
}

#cta:hover {
  background-color: rgba(25, 69, 105, 0.8);
}

main {
  background-color: #e3dac9;
}

h1 {
  text-align: center;
}

.Class_Details {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.Member_Details {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.Member_Styles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

#Jobs_main {
  background-color: #e3fdf9;
  color: #15181c;
  padding: 0 2%;
}

#admin h1 {
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 2em;
  font-family: serif;
  font-variant: initial;
}

#admin h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}

#admin p {
  margin-bottom: 10px;
}

#admin ul {
  list-style-type: square;
  margin-left: 20px;
}

#admin ol {
  margin-left: 20px;
}

#admin h4 {
  text-decoration: underline;
}

#Eco h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}

#Eco p {
  margin-bottom: 10px;
}

#Eco ul {
  list-style-type: square;
  margin-left: 20px;
}

#Eco ol {
  margin-left: 20px;
}

#Eco h4 {
  text-decoration: underline;
}

dl {
  margin: 0;
  padding: 0;

}

dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

#InterestTable thead {
  color: darkgreen;
}

.MemberNames {
  color: darkblue
}

#GroupPhoto {
  cursor: pointer;
  height: 300px;
  width: auto;
  display: block;
  margin: auto;
  border: inset 4px black;
}

footer {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  background-color: black;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_links li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.footer_links a:hover {
  text-decoration: underline;
  color: #5fa4a2;
}

footer li,
footer a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

#groupMembers ul {
  list-style: disc;
}

footer p {
  align-self: center;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 10px;
  font-size: 15px;
}

.jira_link {
  align-self: center;
  color: #5fa4a2;
  text-decoration: underline;
}

.jira_link:hover {
  align-self: center;
  color: #8fd4d1;
  text-decoration: underline;
}

/* Forms Style */
#apply_main {
  background-color: #eaedf1;
  color: #15181c;
  padding: 0 10%;
}

#apply_main h1 {
  font-size: 4em;
  padding-top: 20px;
}

#dream_job {
  background-image: linear-gradient(#79BF74, #176A8A);
  color: transparent;
  background-clip: text;
}

form {
  font-size: 1.2em;
}

.center {
  text-align: center;
  padding: 2% 0;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.question {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 10px;
}

form input,
form select,
form textarea {
  margin-right: 5%;
  font-size: 1.1em;
}

form fieldset {
  border: none;
}

form fieldset input[type="radio"],
form fieldset input[type="checkbox"] {
  margin-right: 0;
}

#apply {
  padding: 9px 50px;
  border: none;
  border-radius: 20px;
  background-color: #79BF74;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#apply:hover {
  opacity: 0.75;
}

hr {
  border-color: #79BF74;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  header {
    font-size: small;
  }
}