/*
============================================================
  File Name: styles.css
  Description: [Brief description of the file's purpose and functionality]
  Author: The Optional Group 
  Created On: 3/28/2025
  Last Updated: 3/28/2025
  Version: 0.0.1
============================================================
  Project: Project Part 1
  Dependencies: index.html, jobs.html, apply.html, about.html
    ------------------------------------------------------------
  Changelog:
    - Latest Chnage: [Date]: [Change description]
    - What needs to be done: [Date]: [Change description]
============================================================
*/

