/*
============================================================
  File Name: styles.css
  Description: [Brief description of the file's purpose and functionality]
  Author: The Optional Group 
  Created On: 3/28/2025
  Last Updated: 3/28/2025
  Version: 0.0.1
============================================================
  Project: Project Part 1
  Dependencies: index.html, jobs.html, apply.html, about.html
    ------------------------------------------------------------
  Changelog:
    - Latest Chnage: [Date]: [Change description]
    - What needs to be done: [Date]: [Change description]
============================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --hightlight_color: #79BF74;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaedf1;
  color: #15181c;
}

ul {
  list-style-position: inside;
}

header li,
header a,
header button {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

header {
  background-color: white;
  display: flex;
  padding: 10px 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px double black;
}

.logo {
  cursor: pointer;
  height: 75px;
  width: auto;
}

.nav_links li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.nav_links li a:hover {
  color: var(--hightlight_color);
  text-decoration: underline;
}

#cta {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  background-color: var(--hightlight_color);
}

.active {
  border-bottom: 5px solid #79BF74;
}

#cta:hover {
  opacity: 0.8;
}

h1 {
  text-align: center;
}

.Class_Details {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.Tutor {
  font-size: x-large;
}

.Member_Details {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.GroupIDs {
  font-size: large;
}

.Member_Styles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
}

#About_us_hp{
  text-align: center;
}

#lnk_aboutus{
  background-color: green;
}

#company_description{
  text-align: center;
}

#company_slogan{
  text-align: center;
}

#setup{
  margin: auto;
  display: block;
  height: 300px;
  width: auto;
  cursor: pointer;
  border: 4px inset black;
}

#apply_hp{
  float: center;
  text-align: left;
  background-color:#79BF74;
  margin-left: 10%;
}

#jobs_hp{
  float: center;
  text-align: center;
}

#Jobs_main {
  padding: 0 2%;
}

#Jobs_main h1 {
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 2em;
  font-family: serif;
  font-variant: initial;
}

#Jobs_main p {
  margin-bottom: 10px;
}

#admin h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}

#admin p {
  margin-bottom: 10px;
}

#admin ul {
  list-style-type: square;
  margin-left: 20px;
}

#admin ol {
  margin-left: 20px;
}

#admin h4 {
  text-decoration: underline;
}

#Eco h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}

#Eco p {
  margin-bottom: 10px;
}

#Eco ul {
  list-style-type: square;
  margin-left: 20px;
}

#Eco ol {
  margin-left: 20px;
}

#Eco h4 {
  text-decoration: underline;
}

dl {
  margin: 0;
  padding: 0;

}

dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

#InterestTable thead {
  color: darkgreen;
}

.MemberNames {
  color: darkblue
}

#GroupPhoto {
  cursor: pointer;
  height: 300px;
  width: auto;
  display: block;
  margin: auto;
  border: inset 4px black;
}

table {
  text-align: center;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  background-color: #e0e0e0;
  /* Light grey background for headings */
}

td {
  background-color: #f9f9f9;
  /* Light background for table cells */
  padding: 8px;
}

td:hover {
  background-color: #d0ebff;
  /* Light blue on hover */
}

th,
td {
  border: 1px solid #ccc;
  /* Optional border for visibility */
}

/* Footer style */
footer {
  display: flex;
  flex-direction: column;
  padding: 15px 10%;
  justify-content: space-between;
  background-color: black;
}

#footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer_links li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

#footer_links a:hover {
  text-decoration: underline;
  color: var(--hightlight_color);
}

footer a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

#groupMembers ul {
  list-style: disc;
}

footer p {
  align-self: center;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 10px;
  font-size: 15px;
}

#jira_link {
  align-self: center;
  color: var(--hightlight_color);
  text-decoration: underline;
}

#jira_link:hover {
  opacity: 0.8;
}

/* Forms Style */
#apply_main {
  padding: 0 10%;
}

#apply_main h1 {
  font-size: 4em;
  padding-top: 20px;
}

#dream_job {
  background-image: linear-gradient(var(--hightlight_color), #176A8A);
  color: transparent;
  background-clip: text;
}

form {
  font-size: 1.2em;
}

.center {
  text-align: center;
  padding: 2% 0;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.question {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 10px;
}

form input,
form select,
form textarea {
  margin-right: 5%;
  font-size: 1.1em;
}

form fieldset {
  border: none;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 0;
}

#apply {
  padding: 9px 50px;
  border: none;
  border-radius: 20px;
  background-color: var(--hightlight_color);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#apply:hover {
  opacity: 0.75;
}

hr {
  border-color: var(--hightlight_color);
  margin-bottom: 10px;
  margin-top: 10px;
}

textarea {
  resize: none;

}


/* responsive design */
@media (max-width: 755px) {
  .row {
    flex-direction: column;
  }

  #footer_nav {
    flex-direction: column;
  }

  footer a {
    font-size: 18px;
  }

  #copyright {
    font-size: 12px;
  }
}

@media (max-width: 1005px) {

  header {
    flex-direction: column;
    align-items: center;
  }

  .nav_links a {
    font-size: 18px;
  }

  #cta {
    font-size: 18px;
    margin-top: 5px;
    padding: 5px 50px;
  }
}